.DS_Store

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
back/app/node_modules
back/app/.pnp
back/app/.pnp.js

front/app/node_modules
front/app/.pnp
front/app/.pnp.js
front/app/.astro

# testing
back/app/coverage

# next.js
back/app/.next/
back/app/out/

front/app/.next/
front/app/out/

# production
back/app/build
front/app/build

# misc
back/app/.DS_Store
front/app/.DS_Store
*.pem

# debug
back/app/npm-debug.log*
back/app/yarn-debug.log*
back/app/yarn-error.log*

front/app/npm-debug.log*
front/app/yarn-debug.log*
front/app/yarn-error.log*

# local env files
back/app/.env*.local
back/app/.env

front/app/.env*.local
front/app/.env

# vercel
back/app/.vercel
front/app/.vercel

# typescript
*.tsbuildinfo
back/app/next-env.d.ts
back/app/.nvmrc
back/app/.eslintrc.json

front/app/next-env.d.ts
front/app/.nvmrc
front/app/.eslintrc.json
